<div *ngIf="leaguesList">
  <h1>Llistat de Lligues</h1>

  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <mat-form-field appearance="fill" color="warn" class="m-lg-4">
        <mat-label>Filtre de nom</mat-label>
        <input matInput [(ngModel)]="filterName" (ngModelChange)="applyFilters()">
      </mat-form-field>

      <mat-form-field appearance="fill" color="warn" class="m-lg-4">
        <mat-label>Filtre d'any</mat-label>
        <mat-select [(ngModel)]="filterYear" (ngModelChange)="applyFilters()">
          <mat-option>
            <em>None</em>
          </mat-option>
          <mat-option *ngFor="let year of availableYears" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="create-button align-self-center" *ngIf="Utils.getRole(Utils.ADMIN_ROLE)">
      <button [routerLink]="['/create-league']">+</button>
    </div>
  </div>

  <table mat-table [dataSource]="leaguesList" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Any</th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="Utils.getRole(Utils.ADMIN_ROLE)">
          <button class="button" (click)="deleteLeague(element.id); $event.stopPropagation()">X</button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/league-detail', row.id]"></tr>
  </table>
</div>
