<div *ngIf="league">
  <h1>{{ league.name }}</h1>

  <div class="filters">
    <mat-form-field appearance="fill" color="warn">
      <mat-label>Seleccionar grupo</mat-label>
      <mat-select [(ngModel)]="filterGroup" (ngModelChange)="onFilterGroupChange($event)">
        <mat-option *ngFor="let group of groups" [value]="group">
          Grup {{ group.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-tab-group animationDuration="1000ms" color="warn">
    <mat-tab label="Classificació">
      <div class="tab-content" *ngIf="filterGroup">
        <app-team-groups-ranking [group]="filterGroupChange.asObservable()"></app-team-groups-ranking>
      </div>
    </mat-tab>
    <mat-tab label="Llista de partits">
      <div class="tab-content">
        <p>Llista de partits</p>
      </div>
    </mat-tab>
    <mat-tab label="Llista d'equips">
      <div class="tab-content">
        <p>Llista d'equips</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
