<div *ngIf="league">
  <h1>{{ league.name }}</h1>

  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <mat-form-field appearance="fill" color="warn" class="m-lg-4">
        <mat-label>Seleccionar Grup</mat-label>
        <mat-select [(ngModel)]="filterGroup" (ngModelChange)="onFilterGroupChange($event)">
          <mat-option *ngFor="let group of groups" [value]="group">
            Grup {{ group.id }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="add-button align-self-center">
      <button [routerLink]="['/add-teams', filterGroup?.id]" [disabled]="!filterGroup">Afegir Equips</button>
    </div>
  </div>

  <mat-tab-group animationDuration="1000ms" color="warn">
    <mat-tab label="Classificació">
      <div class="tab-content" *ngIf="filterGroup">
        <app-team-groups-ranking [group]="filterGroupChange.asObservable()"></app-team-groups-ranking>
      </div>
    </mat-tab>
    <mat-tab label="Llista de partits">
      <div class="tab-content">
        <app-team-groups-match-list [group]="filterGroupChange.asObservable()"></app-team-groups-match-list>
      </div>
    </mat-tab>
    <mat-tab label="Llista d'equips">
      <div class="tab-content">
        <app-team-groups-list [group]="filterGroupChange.asObservable()"></app-team-groups-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
