<div class="matches-grid">
  <div class="filters" *ngIf="showList.length != 0">
    <mat-form-field appearance="fill" color="warn">
      <mat-label>Seleccionar Jornada</mat-label>
      <mat-select [(ngModel)]="filterMatchDay" (ngModelChange)="applyFilter()">
        <mat-option *ngFor="let matchDay of matchDays" [value]="matchDay">
          Jornada {{ matchDay }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="match-row" *ngFor="let teamMatch of showList">
    <div class="team1">
      <img ngSrc="assets/escudo.png" alt="Escudo del club" height="163" width="206">
      {{ teamMatch.team1.name }}
    </div>
    <div class="match-info">
      <div class="time-date" *ngIf="!((teamMatch.match.team1Result || teamMatch.match.team1Result == 0) && (teamMatch.match.team2Result || teamMatch.match.team2Result == 0)); else resultInfo">
        <span>{{teamMatch.match.date | date: 'dd-MM-YYYY': 'utc'}}</span>
        <span>{{teamMatch.match.date | date: 'HH:mm': 'utc'}}</span>
      </div>
      <ng-template #resultInfo>
        <div class="result">
          {{ teamMatch.match.team1Result }} - {{ teamMatch.match.team2Result }}
        </div>
      </ng-template>
    </div>
    <div class="team2">
      {{ teamMatch.team2.name }}
      <img ngSrc="assets/escudo.png" alt="Escudo del club" height="163" width="206">
    </div>
    <div class="extra-info">
      <span class="stadium" *ngIf="teamMatch.location">
        <em class="fa-solid fa-location-dot"></em> Població: {{ teamMatch.location.city }}</span>
      <span class="stadium" *ngIf="teamMatch.location">
        <em class="fa-solid fa-location-dot"></em> Adreça: {{ teamMatch.location.address }}</span>
      <span class="referee" *ngIf="teamMatch.referee">
      <img ngSrc="assets/whistle.png" style="width: 18px; height: 18px" alt="whistle" height="24" width="24"/>
        Àrbitre: {{teamMatch.referee.firstName}} {{teamMatch.referee.lastName}}
      </span>
    </div>
  </div>
  <div *ngIf="showList.length == 0" style="color: red;font-size: large; margin: 100px">No Hi ha Partits a Mostrar</div>
</div>
