<div *ngIf="locationsList">
  <h1>Llistat de Camps</h1>

  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <mat-form-field appearance="fill" color="warn" class="m-lg-4">
        <mat-label>Filtrar per adreça</mat-label>
        <input matInput [(ngModel)]="filterAddress" (ngModelChange)="applyFilters()"/>
      </mat-form-field>

      <mat-form-field appearance="fill" color="warn" class="m-lg-4">
        <mat-label>Filtrar per codi postal</mat-label>
        <input matInput [(ngModel)]="filterPostalCode" (ngModelChange)="applyFilters()"/>
      </mat-form-field>

      <mat-form-field appearance="fill" color="warn" class="m-lg-4">
        <mat-label>Filtrar per Població</mat-label>
        <input matInput [(ngModel)]="filterCity" (ngModelChange)="applyFilters()"/>
      </mat-form-field>
    </div>

    <div class="create-button align-self-center">
      <button [routerLink]="['/create-location']">+</button>
    </div>
  </div>


  <table mat-table [dataSource]="locationsList" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Adreça</th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="postal code">
      <th mat-header-cell *matHeaderCellDef> Codi Postal</th>
      <td mat-cell *matCellDef="let element"> {{element.postalCode}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> Ciutat</th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="Utils.getRole(Utils.ADMIN_ROLE)">
          <button class="button" (click)="deleteLocation(element.id); $event.stopPropagation()">X</button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
