.matches-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.filters {
  display: flex;
  gap: 16px;
}

.match-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.match-row .team1 {
  flex-grow: 1;
  flex-shrink: 0;
  margin-right: 1em;
  min-width: 200px;
  text-align: right;
}

.match-row .team1 img,
.match-row .team2 img {
  width: 80px;
  height: auto;
}


.match-row .team2 {
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 1em;
  min-width: 200px;
}

.match-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightgray;
  padding: 1em;
  min-width: 150px;
  margin: 10px 1em;
}

.extra-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  flex-grow: 1;
}

.extra-info span:not(:first-child) {
  margin-top: 5px;
}

.time-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.time-date span:nth-child(2) {
  align-self: center;
}

.stadium,
.referee {
  margin: 0;
  padding: 0;
}

:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

.modify-button {
  margin-top: 1em;
  padding-left: 10px;
}

.modify-button button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modify-button button:hover {
  background-color: #b90a1d;
}

.background-warning-color {
  background-color: #fd3535;

}
