<div class="top-bar">
  <div class="contact-icons">
    <button class="btn btn-dark"><i class="fas fa-envelope"></i></button>
    <button class="btn btn-dark"><i class="fas fa-phone"></i></button>
    <button class="btn btn-dark"><i class="fab fa-facebook-f"></i></button>
    <button class="btn btn-dark"><i class="fab fa-instagram"></i></button>
    <button class="btn btn-dark"><i class="fab fa-twitter"></i></button>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container">
    <a class="navbar-brand" href="/">Consell Escolar d'Esports</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/leagues-list">Lligues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/groups-list">Grups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teams-list">Equips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/locations-list">Camps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Partits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Modificar dades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Els meus partits</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
