<div class="top-bar">
  <div class="contact-icons">
    <button class="btn btn-dark"><i class="fas fa-envelope"></i></button>
    <button class="btn btn-dark"><i class="fas fa-phone"></i></button>
    <button class="btn btn-dark"><i class="fab fa-facebook-f"></i></button>
    <button class="btn btn-dark"><i class="fab fa-instagram"></i></button>
    <button class="btn btn-dark"><i class="fab fa-twitter"></i></button>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Consell Escolar d'Esports</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/leagues-list">Lligues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/groups-list">Grups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teams-list">Equips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/locations-list">Camps</a>
        </li>
        <li class="nav-item" *ngIf="Utils.getRole(Utils.REFEREE_ROLE)">
          <a class="nav-link" href="/referee-match-list">Els Meus Partits</a>
        </li>
        <li class="nav-item" *ngIf="Utils.getRole(Utils.MANAGER_ROLE) || Utils.getRole(Utils.ADMIN_ROLE)">
          <a class="nav-link" href="/modify-matches">Editar Partits</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!Utils.getProfile()">
          <a class="nav-link" href="/login">Iniciar Sessió</a>
        </li>
        <li class="nav-item" *ngIf="Utils.getProfile()">
          <a class="nav-link" (click)="logout()">Tancar Sessió</a>
        </li>
        <li class="nav-item" *ngIf="Utils.getProfile()">
          <a class="nav-link"><em class="fas fa-user"></em> {{Utils.getProfile()?.firstName}} {{Utils.getProfile()?.lastName}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
